/* 100 */
body {
    background-color: rgb(238, 238, 238);
    margin: 2em 6em;
}

.page {
    display: flex;
    flex-wrap: wrap;
}

h1, h2 {
    font-family: Georgia, serif;
}

header p {
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0.5em;
}

header {
    flex-basis: 100%;
    border-bottom: 2px solid black;
    /* margin-bottom: 1.5em; */
}

main {
    flex-basis: 60%;
    margin-right: 1em;
}

aside {
    /* flex-basis: 40%; */
    margin-left: 2em;
}

li a {
    text-decoration: none;
    color: rgb(0, 153, 0);
}

.blockquote-container {
    display: flex;
}

blockquote {
    font-family: Georgia, serif;
    border-left: 3px solid lightgrey;
    padding-left: 1.5em;
    font-style: italic;
    color: #666;
}

img {
    background-color: rgb(255, 255, 255);
    float: right;
    margin-left: 2em;
    margin-bottom: 1em;
    border: 2px solid black;
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 4px inset;
}