

/* body {

} */
.site {
    max-width: 1000px;
    /* background-color: #eee; */
    margin: 0 auto;
    padding: 10px 10px;
}

/* main {

} */
h1 {
    margin-top: 0.3em;
}

article {
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: blue;
}

.brackets{
    font-size: 16px;
    font-weight: normal;
}

ul {
    display: inline;
}

li {
    display: inline-block;
    padding: 10px 10px;
    text-align: center;
}

.indent {
    margin-left: 20px;
}

header {
    padding-top: 0.5em;
    margin-bottom: 0.3em;
}

.form {
    border: 1px solid #CCC;
}

.search {
    margin: 0;
    text-align: left;
    padding: 3px 5px;
}

.right-nav {
    float: right;
}

footer {
    background-color: #CCC;
    margin: 10px 0px;
    text-align: center;
}




